/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0 auto;
     box-sizing: border-box;
     padding: 0;
}
html {
    background: rgba(122, 191, 191, .5);
    display: flex;
    flex-direction: column;
}

 /* body styles*/ 
body {
    width: 80%;
    background-color: #F2F2F2;
}
body .nav {
    position: absolute;
    top: 0;
    width: 80%;
    background-color: white;
}

/* Navegation styles*/ 

.nav ul li {
    text-decoration: none;
    list-style-type: none;
}
.main-nav h2 {
    display: none;
}
.main-nav {
    position: absolute;
    top: 10px;
    left: 10px;
    padding-bottom: 20px;
}

/*Home page Styles*/ 

.home:hover {
    background-color: #7ABFBF;
}
.home {
    background-color: #EB5428;
    text-align: center;
    position: absolute; 
    transition: all .5s ease-in-out;
    top: 0;
    left: 20%;
    right: 20%;
    width: 50%;
   
}
.avatar {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*Search Bar Styles*/ 

.search-bar {
    position: absolute;
    top: 80px;
    left: 20%;
    text-align: center;
    border: 5px solid #EB5428;
    display:inline-block;
    height: 50px;
    width: auto;
}
.search-bar input {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 40px;
}
.search-bar button {
    border: none;
    padding: 0;
    margin: 0;
    float: right;
    height: 41px;
}
.food-icons {
    display: none;
}

/* Header Styles */
h1{
    text-align: center;
    font-size: 40px;
    
}
menu {
    text-align: center;
}
menu li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
menu a {
    text-decoration: none;
    color: #EB5428;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .5s ease-in-out;
}
menu a:hover {
    background-color: #EB5428;
    color: #F2F2F2;
    border-radius: 20%;
}
menu svg:hover {
    stroke: #F2F2F2;
}
a svg {
    order: -1;
}

header {
    margin-top: 150px;
}
.description img {
    width: 100%;
}
.description p{
    padding: 10px;
    text-align: left;
    justify-content: center;
    line-height: 1.5em;
}




/* Details Styles */
.details h2 {
    text-align: center;
}
dl dd {
    margin: 0;
    display: inline;
}

dl dt {
    display: inline-block;
    padding-right: 10px;
}

dl {
    text-align: left;
    position:relative;
    margin-left: 5px;
    padding: 10px;
}

dl dd:after {
    display: block;
    content: "";
}




/* Ingredients  */

.ingredients h2 {
    text-align: center;
}


.ingredients ul {
    justify-content: left;
    padding: 10px 0 10px 30px;
}

.ingredients li {
    list-style: square;
    padding: 10px;
    width: 100%;
}




/*  Directions Styles */
.directions h2 {
    text-align: center;
}

.directions ol {
    padding: 10px;
    margin: 10px 0 0 20px;
    line-height: 1.5em;
}
.directions li {
    padding-left: 5px;
    padding-bottom: 10px;
}



/* Side Dishes Styles*/


.side-dishes h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.rice, .guacamole, .tortilla, .salsa {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    
}
.side-dishes figure img {
    grid-column: 1/2;
    grid-row: 2/4;
}
.side-dishes img:hover {
    transform: scale(1.2, 1.2);
}
.side-dishes figure {
    display: inline-block;
}
.side-dishes figcaption {
    display: block;
    padding-left: 10px;
    font-size: 20px;
    grid-column: 2/6;
    grid-row: 2/5;
}
.side-dishes h3 {
    margin: 0;
    padding-left: 20px;
    grid-row: 1/2;
    text-align: center; 
    grid-column: 2/6; 
}

/* Typography Styles */

h1, h2, h3, nav a, figcaption, 
menu li, #social li, footer {
    font-family: 'Bebas Neue', cursive;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
dd, p, nav, li, input {
    font-family: 'Montserrat', sans-serif;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.side-dishes {
    background-color: #7ABFBF;
}



/*   Connect Styles */
#social li {
    font-size: 20px;
}
.connect {
    background-color: white;
}
.connect ul {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}   
.connect li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    justify-content: center;
    margin-top: 0;
}
.connect li:hover {
    transform: scale(1.5, 1.5);
}
.connect a {
    text-decoration: none;
    color: #EB5428;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 10px;
    padding-top: 20px;
    padding-left: 10px;
    
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: white;
}
footer img {
    width: 50%;
    order: -1;
    margin-bottom: 10px;
    margin-top: 10px;
}

/******Screen 768px************/

@media screen and (min-width: 768px) {
    .main-nav {
        display: none;
    }
    .home {
        position: absolute;
        display: inline;
        left: 0;
        right:auto;
        top: 0;
        width: 75px;
    }
    .avatar {
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
    }
    .search-bar {
        position: absolute;
        right: 50px;
        left: auto;
        top: 0;
        margin: 10px;
        width: 247px;
    }
    .food-icons {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-top: 80px;
    }
    .food-icons {
        border-bottom: 3px solid rgba(11, 21, 18, 0.4);
    }
    .nav a {
        text-decoration: none;
        color: #EB5428;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .5s ease-in-out;
    }
    .nav a:hover {
        background-color: #EB5428;
        border-radius: 15%;
        color: #F2F2F2;
    }
    .nav svg:hover {
        stroke: #F2F2F2;
    }
    a img {
        order: -1;
        width: 50px;
        height: 50px;
    }
    article {
        position: relative;
        margin-top: 175px;
    }
    header h1 {
        text-align: left;
        padding: 10px;
    }
    menu {
        width: 100%;
        display: flex;
        align-self: center;
    }
    .description img {
        display: flex;
    }
    dl {
        text-align: center;
    }
    aside {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .side-dishes {
        margin-bottom: 0;
    }
    .dishes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .rice, .salsa, .guacamole, .tortilla {
        display: block;
    }
    .connect {
        margin-top: 0;
    }
    .bottom {
        display: inline-flex;
        flex-direction: row-reverse;
        width: 100%;
        background-color: white;
    }
    footer {
        padding-top: 10px;
    }
    
}

/******Screen 1280px************/

@media screen and (min-width: 1280px) {
    body {
        max-width: 1500px;
    }
    .main-nav {
        display: none;
    }
    .search-bar {
        position: absolute;
        top: 100px;
        text-align: center;
    }
    nav {
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        width: 100%;
        align-content: space-between;
        border-bottom: 3px solid rgba(11, 21, 18, 0.4);
    }
    .home {
        grid-column: 1/3;
        height: 100%;
        width: 100%;
        padding: 5px;
    }
    .food-icons {
        grid-column: 3/10;
        align-content: space-between;
        border: none;
        margin-top: 10px;
        padding-left: 30px;
    }
    .avatar {
        grid-column: 10/12;
    }
    .food-icons li {
        padding-left: 20px;
        padding-right: 20px;
    }
    article {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-auto-flow: column;
    }
    article h1 {
        grid-column: 1/9;
        grid-row: 1/2;
        text-align: center;
        justify-content: space-evenly; 
    }
    menu {
        display: block;
    }
    menu li {
        padding: 10px;
    }

    .description {
        display: flex;
        flex-direction: row-reverse;
        grid-column: 2/9;
        max-width: 1020px;
    }

    .description img {
        object-fit: scale-down;
        width: 50%; 
    }
    .details {
        background-color: #0D0D0D;
        color: #7ABFBF;
    }
    .details dl {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .dishes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        padding-bottom: 5px;
    }
    .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        background-color: white;
    }
    .connect {
        grid-column: 2/4;
        justify-content: right;
    }
    .connect li {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    footer {
        grid-column: 1/2;
        grid-row: 1;
        margin-left: 5px;
        margin-right: 0;
    }
    .footer img {
        margin-left: 5px;
        margin-right: 0;
        padding: 0;
    }
}
@media screen {
    .print-only {
        display: none;
    }
}
@media print {
    * {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    html {
        background-color: white;
        color: black;
    }
    body {
        margin: 0.5in;
        display: block;
        text-align: left;
    }
    h1 {
        font-size: 28px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 0.5in;
    } 
    h2, h3 {
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    menu {
        display: none;
    }
    .side-dishes, svg {
        display: none;
    }
    nav {
        display: none;
    }
    header {
        margin-top: 0;
        text-align: left;
    }
    .details {
        float: left;
    }
    .details dl dd,dt {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .details, .details h2 {      
        text-align: left;
    }
    .ingredients {
        float: right;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .ingredients, .ingredients h2 {     
        text-align: left;
    }
    .ingredients li {
        padding: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .directions {
        clear: both;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 0.5in;
    }
    .directions, .directions h2 {
        text-align: left;
        margin-bottom: 0;
    }
    .directions li {
        padding: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .connect {
        clear: both;
        margin-top: 0.5in;
    }
    img {
        display:none;
    }
    .description p {
        display: none;
    }
    footer {
        display: none;
    }
    .connect a {
        color: black;
        display: block;
        text-align: left;
        padding: 0;
        font-size: 14px;
        margin-top: 0;
    } 
    .connect p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}